{% extends "SofaChampsPriceIsRightChallengeBundle::layout.html.twig" %}

{% block content %}
    <h2>Invite</h2>

    <p class="help-text">
        Enter email addresses.  You can enter one per line or comma separated.
        <br>
        We will send each user an email with an invite link.
    </p>

    <form action="{{ path('pirc_invite_send', {season: season, gameId: game.id}) }}" method="post">
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary btn-lg">Send Invites</button>
    </form>
{% endblock %}
