{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <div class="hero-unit">
        <h1>About Us</h1>

        <h2>Who are we?</h2>
        <p>Two friends who love college sports and put our IT experience to good work.</p>

        <h2>Why did we do this?</h2>
        <p>For years, one of the more exciting fantasy games amongst our friends has been bowl mania.  Play against friends all over the world, and you’re invested in college games you would have never otherwise cared about during the happy holidays.</p>
        <p>However, for whatever reason, the other sites have progressively removed popular features year after year.  Some nice interface changes have been implemented, but every year it seems there is something they remove or deliver poorly.</p>
    </div>
{% endblock %}
