{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <div class="hero-unit">
        <h1>Thank you for your donation!</h1>
        <p>It's people like you who make our late nights worth it.</p>
    </div>
{% endblock %}
