{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>Welcome to College Crazies!</h1>
        <p>Bringing college sports fans together</p>
        <p>Coming soon.  A new way to make your picks!</p>
        <p>Two minds, two days, one solution.</p>
        <p><a href="http://blog.collegecrazies.com/">Track our progress!</a> </p>

        {% if not is_granted('ROLE_USER') %}
            <a href="/register" class="btn info">Sign up now!</a> or <a href="{{ path('login') }}" class="btn info">Login</a>
        {% endif %}
    </div>
{% endblock %}
