{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <div class="hero-unit">
        <h1>SofaChamps.com</h1>
        <h2>Dominate without breaking a sweat <small>...or even getting off the couch</small></h2>

        <p><a href="/register" class="btn btn-info">Sign up now!</a> or <a href="/login" class="btn btn-success">Login</a></p>
    </div>
{% endblock %}
