{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <div class="hero-unit">
        <h1>Welcome to College Crazies!</h1>
        <p>Bringing college sports fans together</p>
        <p><a href="http://blog.collegecrazies.com/" target="_blank" >See how all of this happened!</a> </p>

        {% if is_granted('ROLE_USER') %}
            {% if user.leagues|length > 0 %}
                <p>Welcome to <u>The League!</u></p>
		        <h2>Picks LOCK, Sat, December 17th at 2:00pm EST.</h2>
		        <p>Please be sure to make your picks by clicking below:</p>
                <a href="{{ path('my_picks') }}" class="btn btn-info">Make Your Picks</a>
            {% else %}
		        <p>Please be sure to join <u>The League</u> by clicking below:</p>
                <a href="{{ path('league_join', {'id': 1}) }}" class="btn btn-info">Join The League</a>
            {% endif %}
        {% else %}
            <a href="/register" class="btn btn-info">Sign up now!</a> or <a href="/login" class="btn btn-success">Login</a>
        {% endif %}
    </div>
{% endblock %}
