{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h1>Prediction Information</h1>
    <p>We looked at all of the historical lines set by vegas, then created a distribution curve.</p>
    <p>Then based on those probabilities, we generated 5,000 "sets" of predictions</p>
{% endblock %}
