{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <ol class="unstyled">
    {% for pickSet in pickSets %}
        <li><a href="{{ path('pickset_view', {picksetId: pickSet.id, leagueId: league.id, season: season.season}) }}">{{ pickSet.name }}</a></li>
    {% endfor %}
    </ol>
{% endblock %}
