{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <h2>{{ pickSet.name }}</h2>

    {% if league is defined %}
        <div class="container">
            <div class="row">
                <h3>Projected Finish Distributions</h3>
                <p class="text-info">Based on our predicted games, this is your percentage chance of finishing in each place.</p>

                {% include 'SofaChampsBowlPickemBundle:PickSet:_projected_finish_distribution.html.twig' %}
            </div>
            <div class="row well">
                <h3>Projected Stats</h3>
                <p>Based on 10,000 scenarios, here are some projections for this pickset.</p>
                <p class="text-info"><a href="{{ path('prediction_info') }}">Click here for more information about how we generated our predictions.</a></p>

                {% include 'SofaChampsBowlPickemBundle:PickSet:_projected_stats.html.twig' with {stats: projectedFinishStats} %}
            </div>
        </div>
    {% endif %}

    {% include 'SofaChampsBowlPickemBundle:PickSet:_view.html.twig' %}

    <div class="tiebreaker">
        <h4>Tiebreaker</h4>
        <p>FSU Score: {{ pickSet.tiebreakerHomeTeamScore }}</p>
        <p>Auburn Score: {{ pickSet.tiebreakerAwayTeamScore }}</p>
    </div>
{% endblock %}
