{% extends admin.getTemplate('base_list_field') %}

{% block field %}
    <a href="{{ path('core_home', {_switch_user: value}) }}" class="btn btn-warning btn-sm" >
        {{ value }}
    </a>
{% endblock %}
