{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h3>Make your picks</h3>
    <p>Select the winner and drag the teams to their desired confidence</p>

    <form action="{{ path('picklist_update', {'id': pickSet.id }) }}" class="pickForm" method="post" {{ form_enctype(form) }}>
        {% include 'CollegeCraziesMainBundle:Pick:form.html.twig' %}
        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Save Picks" />
        </div>
    </form>
{% endblock %}
