{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <ol class="unstyled">
    {% for pickSet in pickSets %}
        <li><a href="{{ path('pickset_view', {id: pickSet.id}) }}">{{ pickSet.name }}</a></li>
    {% endfor %}
    </ol>
{% endblock %}
