{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h2>Make your picks</h2>
    <p class="help-block">Select the winner and drag the teams to their desired confidence. Not sure how it works?  <a href="{{ path('howto') }}">Click here</a> for a rundown of the basics.</p>

    <form action="{{ path('pickset_create') }}" method="post" class="pickForm form-stacked" {{ form_enctype(form) }}>
        {% include 'CollegeCraziesMainBundle:Pick:form.html.twig' %}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Save Picks" />
        </div>
    </form>
{% endblock %}
