{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h3>Make your picks</h3>
    <p>Select the winner and drag the teams to their desired confidence</p>

    <form action="{{ path('pickset_create') }}" method="post" class="pickForm form-stacked" {{ form_enctype(form) }}>
        {% include 'CollegeCraziesMainBundle:Pick:form.html.twig' %}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Save Picks" />
        </div>
    </form>
{% endblock %}
