{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h2>{{ pickSet.name }}</h2>

    {% include 'CollegeCraziesMainBundle:PickSet:_view.html.twig' %}

    <div class="tiebreaker">
        <h4>Tiebreaker</h4>
        <p>LSU Score: {{ pickSet.tiebreakerHomeTeamScore }}</p>
        <p>Alabama Score: {{ pickSet.tiebreakerAwayTeamScore }}</p>
    </div>
{% endblock %}
