{% extends "CollegeCraziesUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <h2>Password Request</h2>
    <div class="alert alert-info">
        <p>Jigga what?  You've already requested your password reset.  Check your email fool!</p>
    </div>
{% endblock %}
