<h2>Reset Password</h2>

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-horizontal">
    <p>Enter the username or email for the user to have their password reset.</p>

    <div class="control-group{% if invalid_username is defined %} error{% endif %}">
        <label for="username" class="control-label">Username/Email</label>
        <div class="controls">
            <input type="text" id="username" name="username" />
            {% if invalid_username is defined %}
                <p class="text-error">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
            {% endif %}
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-success" value="Submit Password Reset Request" />
        </div>
    </div>
</form>
