{% extends "SofaChampsCoreBundle::Layout/layout.html.twig" %}

{% block nav_admin %}
    <div class="btn-group">
        <a class="btn btn-warning" href="#"><i class="icon-wrench icon-white"></i> Admin</a>
        <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('sbc_admin_config', {year: date()|date('Y')}) }}">Config</a></li>
            <li><a href="{{ path('sbc_admin_result', {year: date()|date('Y')}) }}">Result</a></li>
        </ul>
    </div>
{% endblock %}

{% block nav_primary %}
    <li><a href="{{ path('sbc_leaderboard') }}">Leaderboard</a></li>
{% endblock %}
