{% extends "SofaChampsCoreBundle::Layout/layout.html.twig" %}

{% block nav_admin %}
    <li><a href="{{ path('sbc_admin_config', {year: date()|date('Y')}) }}">Config</a></li>
    <li><a href="{{ path('sbc_admin_result', {year: date()|date('Y')}) }}">Result</a></li>
{% endblock %}

{% block nav_primary %}
    <li><a href="{{ path('sbc_pick', {year: date()|date('Y')}) }}">My Pick</a></li>
    <li><a href="{{ path('sbc_leaderboard') }}">Leaderboard</a></li>
{% endblock %}
