services:
    sofachamps.superbowlchallenge.repo.config:
        class: Doctrine\ORM\EntityRepository
        factory_service: doctrine.orm.default_entity_manager
        factory_method: getRepository
        arguments:
            - SofaChampsSuperBowlChallengeBundle:Config

    sofachamps.superbowlchallenge.repo.question_choice:
        class: Doctrine\ORM\EntityRepository
        factory_service: doctrine.orm.default_entity_manager
        factory_method: getRepository
        arguments:
            - SofaChampsSuperBowlChallengeBundle:QuestionChoice

    sofachamps.superbowlchallenge.config:
        public: false
        class: SofaChamps\Bundle\SuperBowlChallengeBundle\Entity\Config
        factory_service: sofachamps.superbowlchallenge.repo.config
        factory_method: findOneByYear
        arguments:
            - 2015
