<!DOCTYPE html>
<html>
<head lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
    {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Sofa Champs">
    {% endblock %}
    {% block head %}
        <title>SofaChamps{% block title '' %}</title>
    {% endblock %}
    {% block stylesheets '' %}
</head>
<body>
    {% block beforeContent '' %}
    {% block mainContent '' %}
    {% block afterContent '' %}
</body>
</html>
