{% if form is defined and form %}{% form_theme form 'SofaChampsCoreBundle::form_theme.html.twig' %}{% endif %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SofaChamps{% block title '' %}</title>
    <meta name="description" content="Sofa Champs">
    <meta name="google-site-verification" content="Gy7Icmvvqs72mmj-zC1k5lAmlB-2XFCnuxoGvC-pGE8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/css/cc.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="/js/cc.js?v=1"> </script>
    <script src="/js/libs/bootbox/bootbox.min.js"> </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">SofaChamps</a>
                {% block nav_primary '' %}
            </div>
        </div>
    </div>

    {% block nav_secondary '' %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="well">
                    {% block sidebar '' %}
                </div>
            </div>

            <div class="span10">
                <div class="content">
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}">
                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" href="#">×</a>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% block content '' %}
                </div>
            </div>
        </div>
    </div>

    <script src="/js/libs/flot/jquery.flot.js"></script>
    <script src="/js/libs/flot/jquery.flot.time.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36743769-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
