{% extends "SofaChampsCoreBundle:Layout:layout.html.twig" %}

{# TODO - Find a way to track the last game a user was viewing and show that home link
{% block nav_primary %}
    <li><a href="{{ path('bp_home', {season: current_season.season}) }}">Return to Bowl Pickem</a></li>
{% endblock %}
#}

{% block content %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}
