{% extends "SofaChampsPriceIsRightChallengeBundle::layout.html.twig" %}

{% block content %}
    Hello {{ season }}!
    <form action="{{ path('pirc_portfolio_update', {season: season}) }}" method="post">
        {{ form_widget(form) }}
    </form>
{% endblock %}
