{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <h2>Most Important Games across all leagues</h2>

    {% include 'SofaChampsBowlPickemBundle:Game:_important_games.html.twig' %}
{% endblock %}
