{% extends "SofaChampsCoreBundle::layout.html.twig" %}

{% block content %}
    <h2>Users</h2>

    <table class="table table-rounded">
        <thead>
            <tr>
                <th>Username</th>
                <th>Admin</th>
                <th>Impersonate</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>
                    {% if user.hasRole('ROLE_ADMIN') %}
                        ADMIN
                    {% else %}
                        <a href="{{ path('core_admin_user_admin', {'userId': user.id}) }}" class="btn">Make Admin</a>
                    {% endif %}
                </td>
                <td><a href="{{ path('core_home', {_switch_user: user.username}) }}" class="btn btn-warning">Impersonate</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
