{% extends "SofaChampsCoreBundle::Layout/layout.html.twig" %}

{% block title%} - Price Is Right Challenge{% endblock %}

{% block nav_primary %}
    <li><a href="{{ path('pirc_home', {season: season}) }}">Price Is Right Challenge Home</a></li>
    <li><a href="{{ path('pirc_game_list', {season: season}) }}">My Games</a></li>
{% endblock %}
