{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>Welcome to College Crazies!</h1>
        <p>Bringing college sports fans together</p>
        <p>Coming soon.  A new way to make your picks!</p>
        <p>Two minds, two days, one solution.</p>
        <p><a href="http://blog.collegecrazies.com/">Track our progress!</a> </p>
        <p><a class="btn primary large">Learn more &raquo;</a></p>
    </div>
{% endblock %}
