{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>Welcome to College Crazies!</h1>
        <p>Bringing college sports fans together</p>
        <p><font color="red">Coming</font> Monday, December 12th!  A new way to make your picks!</p>
<br>
        <p><h2>Two minds, two days, one solution.</h2></p>
        <p><a href="http://blog.collegecrazies.com/">Track our progress!</a> <-- view our blog </p>
    </div>
{% endblock %}
