[parameters]
    database_driver   = pdo_pgsql
    database_host     = localhost
    database_port     =
    database_name     = sofachamps
    database_user     = sofachamps
    database_password = sofachamps

    mailer_transport  = localhost
    mailer_user       = root
    mailer_password   = ''
    locale            = en
    secret            = thisisasecret

    facebook.app_id   = 1234567890
    facebook.secret   = "abc123"
    fos_facebook.channel.expire = 9000
    sofachamps.maintenance.file_path = %kernel.root_dir%"/maintenance.lock"
