{% extends "SofaChampsUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="alert alert-success">
        <p>We get it, passwords are tough to remember!  Never fear, an email should be awaiting you with the link to reset your password.</p>
    </div>
{% endblock %}
