{% extends "SofaChampsCoreBundle::Layout/layout.html.twig" %}

{% block content %}
    <form class="form-horizontal" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Create Game" />
        </div>
    </form>
{% endblock %}
