{% extends "SofaChampsMarchMadnessBundle::layout.html.twig" %}

{% block content %}
    <h1>March Madness {{ season }}</h1>

    <div class="bracket">
        <div class="region-ltr">
        </div>
        <div class="region-rtl">
        </div>
    </div>
{% endblock %}
