{% extends "SofaChampsMarchMadnessBundle::layout.html.twig" %}

{% block content %}
    <ol>
        {% for item in feed %}
            <li>
                Feed!
            </li>
        {% endfor %}
    </ol>
{% endblock %}
