{% extends 'CollegeCraziesEmailBundle:Layout:base.html.twig' %}

{% block content %}
	<h1>You have been invited to join a league: {{ league.name }}</h1>
	<p>This is the other text of the message</p>
{% endblock %}
