{% extends 'CollegeCraziesEmailBundle:Layout:base.html.twig' %}

{% block content %}
    <h1>Note from your commissioner</h1>
    <h2>League: {{ league.name }}</h2>
    <p>{{ message }}</p>
{% endblock %}
