{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <h2>Users In A League With A Pickset, not in a league</h2>

    <pre>{{ emailList|join(', ') }}</pre>

    {% include 'SofaChampsBowlPickemBundle:Admin:_bad-user-list.html.twig' %}
{% endblock %}
