{% extends "SofaChampsPriceIsRightChallengeBundle::layout.html.twig" %}

{% block content %}
    <h1>Update Game Settings</h1>

    <form action="{{ path('pirc_game_update', {season: season, id: game.id}) }}" method="post">
        {% include "SofaChampsPriceIsRightChallengeBundle:Game:form.html.twig" %}

        <button type="submit">Update Game</button>
        {{ form_rest(form) }}
    </form>
{% endblock %}
