{% extends "SofaChampsPriceIsRightChallengeBundle::layout.html.twig" %}

{% block content %}
    <h1>Create a new Game</h1>

    <form action="" method="post">
        {% include "SofaChampsPriceIsRightChallengeBundle:Game:form.html.twig" %}

        <button type="submit">Update Game</button>
        {{ form_rest(form) }}
    </form>
{% endblock %}
