{% extends "SofaChampsPriceIsRightChallengeBundle::layout.html.twig" %}

{% block content %}
    <h1>My Games</h1>

    {% include 'SofaChampsPriceIsRightChallengeBundle:Game:_list.html.twig' %}
{% endblock %}
