{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <h2>League Email</h2>
    <p class="text-warning">This is a great responsibility.  Please don't spam your league members.<p>

    <form action="{{ path('league_blast', {leagueId: league.id}) }}" method="POST">
        <div class="control-group">
            <label class="control-label" for="blast-message">Message</label>
            <div class="controls">
                <textarea name="message" id="blast-message" class="input-block-level"></textarea>
            </div>
        </div>

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Send Email" />
        </div>
    </form>
{% endblock %}
