{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <h3>Editing - {{ league.name }}</h3>

    <form action="{{ path('league_update', {leagueId: league.id, season: season}) }}" method="post" class="form-horizontal" {{ form_enctype(form) }} role="form">
        {% include 'SofaChampsBowlPickemBundle:League:form.html.twig' %}

        <button type="submit" class="btn btn-primary">Update League</button>
    </form>
{% endblock %}
