{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <h2>Invite Users</h2>
    <p>The more the merrier, send some invitations to join the league<p>

    <form action="{{ path('league_invite', {leagueId: league.id, season: season}) }}" method="POST">
        <div class="control-group">
            <p class="help-block">You can enter multiple addresses, comma separated.  We'll send them a link with the league information (id, password, etc).  Nothing more, nothing less.</p>
            <p class="help-block">Alternatively you can just send out this link: <em class="text-info">{{ url('league_prejoin', {leagueId: league.id, season: season}) }}</em></p>
            <div class="controls">
                <textarea name="emails" class="input-block-level"></textarea>
                <pre>Example: "test1@test.com, test2@test.com"</pre>
            </div>
        </div>

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Invite Users" />
        </div>
    </form>
{% endblock %}
