{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <h2>Leave a League</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>League Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for league in leagues %}
                <tr>
                    <td><i class="icon-home"></i> <a href="{{ path('league_home', {leagueId: league.id}) }}">{{ league.name }}</a></td>
                    <td>
                        <form action="{{ path('league_leave', {leagueId: league.id}) }}" method="POST" style="margin: 0" class="leave-form">
                            <input type="hidden" name="leagueId" value="{{ league.id }}" />
                            <input type="submit" class="btn btn-danger" value="Leave League" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function() {
            $(".leave-form").submit(function(e) {
                var $form = this;
                e.preventDefault();
                bootbox.confirm('Are you sure you want to leave this league?', 'No', 'Yes', function(result) {
                    if (result) {
                        $form.submit();
                    }
                });
            });
        });
    </script>
{% endblock %}
