{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <a href="{{ path('team_new') }}" class="btn btn-success">Add a new Team</a>

    <ol>
    {% for team in teams %}
        <li><a href="{{ path('team_edit', {teamId: team.id}) }}">{{ team.name }}</a></li>
    {% endfor %}
    </ol>
{% endblock %}
