{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <h1>About Us</h1>

        <h2>Who are we?</h2>
        <p>Two friends who love college sports and put our IT experience to good work.</p>

        <h2>Why did we do this?</h2>
        <p>For years, one of the more exciting fantasy games amongst our friends has been bowl mania.  Play against friends all over the world, and you’re invested in college games you would have never otherwise cared about during the happy holidays.</p>
        <p>However, for whatever reason, the other sites have progressively removed popular features year after year.  Some nice interface changes have been implemented, but every year it seems there is something they remove or deliver poorly.</p>
        <p>So we decided to do it ourselves and beat them at their own game.  We built our own site to host Bowl Mania as well as some other fantasy games (coming soon). We knew how we wanted it as well as had some creative new ideas to make it that much more enjoyable.</p>
        <p>Thanks for visiting.  Hope you enjoy Bowl Mania this season!</p>
        <p>If you have any questions, comments, feedback, even snide remarks, feel free to reach us at:<br />
            <a href="mailto:dwhit@sofachamps.com"><i class="icon-envelope"></i> dwhit@sofachamps.com</a><br />
            or<br />
            <a href="mailto:jsuggs@sofachamps.com"><i class="icon-envelope"></i> jsuggs@sofachamps.com</a>
        </p>
    </div>
{% endblock %}
