{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <h1>Frequently Asked Questions</h1>

        <div class="row">
            <h3>Are you guys millionaires?</h3>
            <p>Not yet.  But feel free to donate.</p>
        </div>

        <div class="row">
            <h3>How much wood can a woodchuck chuck?</h3>
            <p>13.</p>
        </div>
    </div>
{% endblock %}
