{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <h1>Prediction Information</h1>
    <p>First we modeled the likelihood of each team to win their game (with a bunch of ridiculous data pulled from year’s worth of game outcomes relative to the spread)</p>
    <p>Then we ran that model a bunch of times (like thousands) for your league</p>
    <p>Which gave us a bunch of really cool statistics...</p>
    <p>From these statistics we’re able to project where you are likely to rank within your league.  This gives us a distribution of your projected final rank (y-axis: percentage, x-axis: rank):</p>
    <p><img src="/img/distro.png" alt="pick distribution" /></p>
    <p>As well as what your best possible rank can be.  So do you still have a shot at 1st?  Well, we can tell you the probability of that (and other outcomes) actually happening.</p>
    <p>So, we give you a cool graph, and your best, average, and worst outcomes for your rank and your score.</p>
    <p><strong>Every time</strong> a game is final, these statistics are updated.  So <strong>check back here often</strong>, and see how you are <em>really</em> doing in your league.</p>
{% endblock %}
