{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <h3>Create Game</h3>

    <form action="{{ path('game_create') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
        {% include 'SofaChampsBowlPickemBundle:Game:form.html.twig' %}

        <div class="control-group">
            <input type="submit" class="btn btn-primary" value="Create Game" />
        </div>
    </form>
{% endblock %}
