{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h2>Most Important Games across all leagues</h2>

    {% include 'CollegeCraziesMainBundle:Game:_important_games.html.twig' %}
{% endblock %}
