services:
    sofachamps.admin.bp.game:
        class: SofaChamps\Bundle\BowlPickemBundle\Admin\GameAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Bowl Pickem", label: "Games" }
        arguments:
            - ~
            - SofaChamps\Bundle\BowlPickemBundle\Entity\Game
            - 'SonataAdminBundle:CRUD'

    sofachamps.admin.bp.league:
        class: SofaChamps\Bundle\BowlPickemBundle\Admin\LeagueAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Bowl Pickem", label: "Leagues" }
        arguments:
            - ~
            - SofaChamps\Bundle\BowlPickemBundle\Entity\League
            - 'SonataAdminBundle:CRUD'

    sofachamps.admin.bp.team:
        class: SofaChamps\Bundle\BowlPickemBundle\Admin\TeamAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Bowl Pickem", label: "Teams" }
        arguments:
            - ~
            - SofaChamps\Bundle\BowlPickemBundle\Entity\Team
            - 'SonataAdminBundle:CRUD'

    sofachamps.admin.bp.picksets:
        class: SofaChamps\Bundle\BowlPickemBundle\Admin\PickSetAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Bowl Pickem", label: "User PickSets" }
        arguments:
            - ~
            - SofaChamps\Bundle\BowlPickemBundle\Entity\PickSet
            - 'SonataAdminBundle:CRUD'

    sofachamps.admin.bp.expert:
        class: SofaChamps\Bundle\BowlPickemBundle\Admin\ExpertAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Bowl Pickem", label: "Experts" }
        arguments:
            - ~
            - SofaChamps\Bundle\BowlPickemBundle\Entity\Expert
            - 'SonataAdminBundle:CRUD'

    sofachamps.admin.bp.expert_pick:
        class: SofaChamps\Bundle\BowlPickemBundle\Admin\ExpertPickAdmin
        tags:
            - { name: sonata.admin, manager_type: orm, group: "Bowl Pickem", label: "Expert Picks" }
        arguments:
            - ~
            - SofaChamps\Bundle\BowlPickemBundle\Entity\ExpertPick
            - 'SonataAdminBundle:CRUD'
