<td{% if square.player %} style="background: #{{ square.player.color }}"{% endif %}>
    {% if square.player %}
        {{ square.player.name }}
    {% else %}
        <form action="{{ path('squares_square_claim', {gameId: game.id, playerId: player.id, row: r, col: c}) }}" method="post" class="squares-claim">
            <button>Claim</button>
        </form>
    {% endif %}
</td>
