{% extends "SofaChampsSquaresBundle::layout.html.twig" %}

{% block content %}
    <h2>Edit</h2>

    <form action="{{ path('squares_game_update', {gameId: game.id}) }}" method="post">
        {% include 'SofaChampsSquaresBundle:Game:form.html.twig' %}

        <button type="submit" class="btn btn-primary btn-lg">Update Game</button>
    </form>
{% endblock %}
