{% extends "SofaChampsSquaresBundle::layout.html.twig" %}

{% block content %}
    <h2>Create a New Game</h2>
    <p>Blah blah</p>

    <form action="" method="post">
        {% include 'SofaChampsSquaresBundle:Game:form.html.twig' %}

        <button type="submit" class="btn btn-primary btn-lg">Create Game</button>
    </form>
{% endblock %}
