{% extends "SofaChampsSquaresBundle::layout.html.twig" %}

{% block content %}
    <h2>Payouts <small><a href="{{ path('squares_game_view', {gameId: game.id}) }}">view game</a></small></h2>

    <form action="{{ path('squares_payouts', {gameId: game.id}) }}" method="post">
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary btn-lg">Update Payouts</button>
    </form>
{% endblock %}
