{% extends "SofaChampsSquaresBundle::layout.html.twig" %}

{% block content %}
    <h2>{{ game.name }}</h2>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th></th>
                {% for idx in range(0, 9) %}
                    <th>{{ idx }}</th>
                {% endfor %}
            </tr>
            {% for r in range(0, 9) %}
                <tr>
                    <th>{{ r }}</th>
                    {% for c in range(0, 9) %}
                        {% set square = game.getSquare(r, c) %}
                        <td>
                            <a href="{{ path('squares_square_claim', {gameId: game.id, row: r, col: c}) }}">Claim</a>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
