<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SofaChamps - Under Construction</title>
</head>
<body>
    <h1>Under Construction</h1>

    <p>Till we are back, here are some gifs.  Enjoy</p>
    <img src="{{ asset('img/maintenance/uc-triangle.gif') }}">
    <img src="{{ asset('img/maintenance/uc-jackhammer.gif') }}">
    <img src="{{ asset('img/maintenance/uc-triangle.gif') }}">
</body>
</html>
