{% extends "SofaChampsCoreBundle::Layout/layout.html.twig" %}

{% block title%} - March Madness{% endblock %}

{% block nav_admin %}
    <li><a href="{{ path('mm_admin') }}">Admin</a></li>
{% endblock %}
