{% extends "SofaChampsCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="hero-unit">
        <h1>SofaChamps.com</h1>
        <h2>Dominate without breaking a sweat <small>...or even getting off the couch</small></h2>
        <div class="container-fluid">
            <div class="row">
                <div class="span6">
                    <h2>Left Side!</h2>
                </div>
                <div class="span6">
                    <h2>Right Side!</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
