{% extends "SofaChampsCoreBundle:Layout:layout.html.twig" %}

{% block nav_primary %}
    <li><a href="{{ path('squares_game_new') }}">New Squares Game</a></li>
    <li><a href="{{ path('squares_game_list') }}">My Squares Games</a></li>
{% endblock %}
