{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h2>League Home</h2>
    <p>This needs works but here are the users</p>
    {% for user in users %}
        <p>{{ user.username }}</p>
    {% endfor %}
{% endblock %}
