{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h3>Enter the league password</h3>

    <form action="{{ path('league_join', {leagueId: league.id}) }}" method="post" class="pickForm form-stacked" {{ form_enctype(form) }}>
        {% include 'CollegeCraziesMainBundle:League:join_form.html.twig' %}
        <div class="actions">
            <input type="submit" class="btn primary" value="Join League" />
        </div>
    </form>
{% endblock %}
