{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h3>Create a new League</h3>

    <form action="{{ path('league_create') }}" method="post" class="form-horizontal" {{ form_enctype(form) }}>
        {% include 'CollegeCraziesMainBundle:League:form.html.twig' %}

        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="Create League" />
            </div>
        </div>
    </form>
{% endblock %}
