{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h2>Coming soon.</h2>
    <p>This is where you will be able to see everyone's picks in The League</p>
{% endblock %}
