{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h2>Potential Winners</h2>
    <p>These users still have the potential to win the league.</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>User</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Email address list</h3>
    <pre>{{ emailList|join(', ') }}</pre>
{% endblock %}
