{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h2>League Stats</h2>

    {% if league.picksLocked %}
        <h3>TODO</h3>
    {% else %}
        <p>The stats will be available after the picks lock.  Get excited...this will be awesome</p>
    {% endif %}
{% endblock %}
